In [1]:
prices = [12.99, 45.00, 8.50, 23.75, 99.99]

prices_plus_tax = [round(num*1.15, 2) for num in prices]

print(prices_plus_tax)

[14.94, 51.75, 9.77, 27.31, 114.99]

In [2]:
groceries = ["eggs", "milk", "bread", "cheese", "apples"]
for i, food in enumerate(groceries, start=1):
    print(f"{i}. {food}")

1. eggs
2. milk
3. bread
4. cheese
5. apples

In [3]:
user = {"name": "Marcus", "email": "marcus@example.com"}

print(user.get("name", "Not provided"))
print(user.get("email", "Not provided"))
print(user.get("phone", "Not provided"))
print(user.get("city", "Not provided"))

Marcus
marcus@example.com
Not provided
Not provided

In [4]:
names = ["Alice", "Bob", "Charlie"]
scores = [92, 87, 95]

for name,score in zip(names,scores):
    print(f"{name}: {score}")

Alice: 92
Bob: 87
Charlie: 95

In [5]:
numbers = [3, 8, 15, 22, 7, 100]

for num in numbers:
    if num % 2 == 0:
        print(f"{num} is Even")
    else:
        print(f"{num} is Odd")

# other way
print()
way_2 = ["even" if num%2==0 else "odd" for num in numbers]
print(way_2)

3 is Odd
8 is Even
15 is Odd
22 is Even
7 is Odd
100 is Even

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [6]:
price = 1299.5
big_number = 1234567
percentage = 0.8734

print(f"${price:,.2f}")
print(f"{big_number:,}")
print(f"{percentage*100:.1f}%")

$1,299.50
1,234,567
87.3%

In [7]:
people = {"Sarah": 28, "James": 34, "Lin": 22}

for name,age in people.items():
    print(f"{name} is {age} years old")

Sarah is 28 years old
James is 34 years old
Lin is 22 years old

In [8]:
response = {
    "user": {
        "profile": {
            "location": {
                "city": "Austin"
            }
        }
    }
}

city = (((response.get("user") or {}).get("profile") or {}).get("location") or {}).get("city") or "Unknown"
print(city)

broken_response = {"user": {"profile": {}}}
city2 = (((broken_response.get("user") or {}).get("profile") or {}).get("location") or {}).get("city") or "Unknown"
print(city2)

# using try/except as a better universal approach for complex nested dicts

# Simulating an API response with inconsistent structure
api_response = {
    "data": {
        "results": [
            {"id": 1, "attributes": {"name": "Austin", "population": 1000000}},
            {"id": 2, "attributes": None},  # This one has None
            {"id": 3}  # This one is missing "attributes" entirely
        ]
    }
}

# Safely extract population from first result
try:
    pop = api_response["data"]["results"][0]["attributes"]["population"]
except (KeyError, TypeError, IndexError):
    pop = 0

print(pop)  # 1000000

Austin
Unknown
1000000

**Rule of Thumb**
| Depth | Pattern |
|-------|---------|
|1-2 levels|.get("key", default) is fine|
|3+ levels|try/except is cleaner|
|Mixed dicts and lists|try/except almost always|

In [9]:
words = ["apple", "banana", "cherry", "date", "elderberry", "fig"]

for i,word in enumerate(words):
    if i % 2 == 0:
        print(f"{i}: {word}")

0: apple
2: cherry
4: elderberry

In [10]:
def safe_int(value):
    try: 
        return int(value)
    except ValueError:
        return 0

print(safe_int("42"))
print(safe_int("hello"))
print(safe_int("3.14"))

42
0
0

In [11]:
my_skills = ['Logic', 'Systems', 'Martial Arts']
print(*my_skills)

Logic Systems Martial Arts

In [12]:
data = [2026, 'January', 28, 11, 50, 'CST']

year, *timestamp_details = data
print(year)
print(timestamp_details)

2026
['January', 28, 11, 50, 'CST']

In [13]:
math_units = ['Calculus', 'Discrete Math']
cs_units = ['Architecture', 'Data Structures']

wgu_journey = [*math_units, *cs_units]
print(wgu_journey)

['Calculus', 'Discrete Math', 'Architecture', 'Data Structures']

In [14]:
course = {'name': 'Discrete Math I', 'id': 'C959'}
print(course.get('credits', 3))

3

In [15]:
try:
    difficulty = course['difficulty']
except KeyError:
    difficulty = "Difficulty level varies by student"

print(difficulty)

Difficulty level varies by student

In [16]:
for i,subject in enumerate(wgu_journey, start=1):
    print(f"{i}: {subject}")

1: Calculus
2: Discrete Math
3: Architecture
4: Data Structures

In [17]:
score = 94

status = "Honors" if score >= 90 else "Pass"

print(status)

Honors

In [18]:
def describe_point(x, y, z):
    return print(x, y, z)

point = [5, 12, 13]

describe_point(*point)

5 12 13

In [19]:
numbers = range(1,21)

new_numbers = [num for num in numbers if (num % 2 == 0) & (num % 3 == 0)]
print(new_numbers)

[6, 12, 18]

In [20]:
pairs = [(1, 'a'), (2, 'b'), (3, 'c')]
nums, chars = zip(*pairs)
print(nums)
print(chars)

(1, 2, 3)
('a', 'b', 'c')