In [1]:
import pandas as pd

df = pd.DataFrame({
    "property": ["A", "B", "C", "D", "E"],
    "price": [250000, 185000, 320000, 275000, 150000],
    "bedrooms": [3, 2, 4, 3, 2],
    "city": ["Austin", "Dallas", "Austin", "Houston", "Austin"]
})

df[(df['city'] == "Austin") & (df['price'] < 300000)][['property', 'price']]

  property   price
0        A  250000
4        E  150000

In [2]:
df.groupby("city")["price"].mean()

city
Austin     240000.0
Dallas     185000.0
Houston    275000.0
Name: price, dtype: float64

In [3]:
def calculate_total(price, tax_rate=0.0825):
    return round(price+price*tax_rate, 2)

print(calculate_total(100))
print(f"{calculate_total(100, 0.10):.2f}")

108.25
110.00

In [4]:
df2 = pd.DataFrame({
    "name": ["Alice", "Bob", "Carol", "Dan"],
    "score": [85, None, 92, None],
    "submitted": [True, True, True, False]
})

df2["score"] = df2["score"].fillna(df2["score"].mean())
print(df2)

    name  score  submitted
0  Alice   85.0       True
1    Bob   88.5       True
2  Carol   92.0       True
3    Dan   88.5      False

In [5]:
prices = [125000, 89000, 215000, 175000, 95000, 310000]

short_prices = [price / 1000 for price in prices if price > 100000]
print(short_prices)

[125.0, 215.0, 175.0, 310.0]

In [6]:
df3 = pd.DataFrame({
    "item": ["Widget", "Gadget", "Gizmo"],
    "quantity": [50, 30, 45],
    "unit_price": [12.99, 24.50, 8.75]
})

df3["revenue"] = df3["quantity"] * df3["unit_price"]
print(df3)

     item  quantity  unit_price  revenue
0  Widget        50       12.99   649.50
1  Gadget        30       24.50   735.00
2   Gizmo        45        8.75   393.75

In [7]:
products = ["laptop", "mouse", "keyboard"]
prices = [999, 25, 75]

items =  dict(zip(products,prices))
print(items)

{'laptop': 999, 'mouse': 25, 'keyboard': 75}

In [8]:
df4 = pd.DataFrame({
    "neighborhood": ["Downtown", "Suburbs", "Midtown", "Eastside", "Westlake"],
    "median_price": [450000, 280000, 375000, 225000, 520000],
    "inventory": [45, 120, 67, 89, 32]
})

df4.sort_values('median_price', ascending=False).head(3)[['neighborhood','median_price']]

  neighborhood  median_price
4     Westlake        520000
0     Downtown        450000
2      Midtown        375000

In [9]:
scores = [72, 85, 91, 68, 77, 95, 82]

for score in scores:
    if score >= 90:
        print(f"Score: {score} -> A")
    elif score >= 80:
        print(f"Score: {score} -> B")
    elif score >= 70:
        print(f"Score: {score} -> C")
    else:
        print(f"Score: {score} -> D")

Score: 72 -> C
Score: 85 -> B
Score: 91 -> A
Score: 68 -> D
Score: 77 -> C
Score: 95 -> A
Score: 82 -> B

In [10]:
df5 = pd.DataFrame({
    "lead": ["L1", "L2", "L3", "L4", "L5", "L6"],
    "source": ["web", "referral", "web", "cold", "referral", "web"],
    "converted": [True, True, False, False, True, True]
})

len(df5[(df5["source"] == "web") & (df5["converted"] == True)])

2