In [1]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

print("All imports successful")

All imports successful

In [2]:
first_list = list(random.sample(range(1, 30), k=15))
print(first_list)

[24, 4, 14, 10, 17, 1, 18, 15, 27, 3, 2, 5, 6, 21, 29]

In [3]:
new_list = [f"High, {num}" if num > 10 else f"Low, {num}" for num in first_list]
print(new_list)

['High, 24', 'Low, 4', 'High, 14', 'Low, 10', 'High, 17', 'Low, 1', 'High, 18', 'High, 15', 'High, 27', 'Low, 3', 'Low, 2', 'Low, 5', 'Low, 6', 'High, 21', 'High, 29']

In [4]:
df = pd.read_csv('../../data/raw/listings.csv')

In [5]:
pd.set_option('display.max_rows',None)
df['price'] = df['price'].str.replace(r'[^\d.]', '', regex=True).astype(float)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15187 entries, 0 to 15186
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            15187 non-null  int64
 1   listing_url                                   15187 non-null  object
 2   scrape_id                                     15187 non-null  int64
 3   last_scraped                                  15187 non-null  object
 4   source                                        15187 non-null  object
 5   name                                          15187 non-null  object
 6   description                                   14840 non-null  object
 7   neighborhood_overview                         7914 non-null   object
 8   picture_url                                   15186 non-null  object
 9   host_id                                       15187 non-null  int64
 10  host_url                                      15187 non-null  object
 11  host_name                                     15185 non-null  object
 12  host_since                                    15185 non-null  object
 13  host_location                                 12620 non-null  object
 14  host_about                                    9351 non-null   object
 15  host_response_time                            10868 non-null  object
 16  host_response_rate                            10868 non-null  object
 17  host_acceptance_rate                          11688 non-null  object
 18  host_is_superhost                             14709 non-null  object
 19  host_thumbnail_url                            15185 non-null  object
 20  host_picture_url                              15185 non-null  object
 21  host_neighbourhood                            13558 non-null  object
 22  host_listings_count                           15185 non-null  float64
 23  host_total_listings_count                     15185 non-null  float64
 24  host_verifications                            15185 non-null  object
 25  host_has_profile_pic                          15185 non-null  object
 26  host_identity_verified                        15185 non-null  object
 27  neighbourhood                                 7914 non-null   object
 28  neighbourhood_cleansed                        15187 non-null  int64
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      15187 non-null  float64
 31  longitude                                     15187 non-null  float64
 32  property_type                                 15187 non-null  object
 33  room_type                                     15187 non-null  object
 34  accommodates                                  15187 non-null  int64
 35  bathrooms                                     10714 non-null  float64
 36  bathrooms_text                                15173 non-null  object
 37  bedrooms                                      14248 non-null  float64
 38  beds                                          10696 non-null  float64
 39  amenities                                     15187 non-null  object
 40  price                                         10708 non-null  float64
 41  minimum_nights                                15187 non-null  int64
 42  maximum_nights                                15187 non-null  int64
 43  minimum_minimum_nights                        15187 non-null  int64
 44  maximum_minimum_nights                        15187 non-null  int64
 45  minimum_maximum_nights                        15187 non-null  int64
 46  maximum_maximum_nights                        15187 non-null  int64
 47  minimum_nights_avg_ntm                        15187 non-null  float64
 48  maximum_nights_avg_ntm                        15187 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              13856 non-null  object
 51  availability_30                               15187 non-null  int64
 52  availability_60                               15187 non-null  int64
 53  availability_90                               15187 non-null  int64
 54  availability_365                              15187 non-null  int64
 55  calendar_last_scraped                         15187 non-null  object
 56  number_of_reviews                             15187 non-null  int64
 57  number_of_reviews_ltm                         15187 non-null  int64
 58  number_of_reviews_l30d                        15187 non-null  int64
 59  availability_eoy                              15187 non-null  int64
 60  number_of_reviews_ly                          15187 non-null  int64
 61  estimated_occupancy_l365d                     15187 non-null  int64
 62  estimated_revenue_l365d                       10708 non-null  float64
 63  first_review                                  12276 non-null  object
 64  last_review                                   12276 non-null  object
 65  review_scores_rating                          12276 non-null  float64
 66  review_scores_accuracy                        12276 non-null  float64
 67  review_scores_cleanliness                     12276 non-null  float64
 68  review_scores_checkin                         12275 non-null  float64
 69  review_scores_communication                   12276 non-null  float64
 70  review_scores_location                        12274 non-null  float64
 71  review_scores_value                           12274 non-null  float64
 72  license                                       0 non-null      float64
 73  instant_bookable                              15187 non-null  object
 74  calculated_host_listings_count                15187 non-null  int64
 75  calculated_host_listings_count_entire_homes   15187 non-null  int64
 76  calculated_host_listings_count_private_rooms  15187 non-null  int64
 77  calculated_host_listings_count_shared_rooms   15187 non-null  int64
 78  reviews_per_month                             12276 non-null  float64
dtypes: float64(22), int64(25), object(32)
memory usage: 9.2+ MB

In [7]:
lower = df['price'].quantile(0.05)
upper = df['price'].quantile(0.95)
df = df[(df['price'] >= lower) & (df['price'] <= upper)]

df['price'] = df['price'].fillna(df['price'].mean())

print(f"Rows after trimming: {len(df)}")
print(f"Price range: ${df['price'].min():.2f} - ${df['price'].max():.2f}")
print(f"Missing values: {df['price'].isna().sum()}")

Rows after trimming: 9665
Price range: $45.00 - $708.00
Missing values: 0

In [8]:
# Check current state
print(f"Current min: ${df['price'].min():.2f}")
print(f"Current max: ${df['price'].max():.2f}")
print(f"Rows: {len(df)}")

Current min: $45.00
Current max: $708.00
Rows: 9665

In [9]:
df.shape

(9665, 79)

In [10]:
counts = df['property_type'].value_counts()
print(counts)

property_type
Entire home                           4143
Entire rental unit                    1920
Entire condo                           868
Private room in home                   677
Entire guesthouse                      569
Entire townhouse                       224
Entire guest suite                     203
Room in hotel                          163
Tiny home                              143
Entire bungalow                        135
Private room in rental unit             81
Camper/RV                               79
Entire cottage                          48
Entire loft                             45
Entire serviced apartment               40
Entire cabin                            37
Entire villa                            28
Private room in resort                  27
Entire resort                           25
Room in boutique hotel                  21
Entire vacation home                    20
Private room in townhouse               19
Private room in condo                   18
Room in aparthotel                      15
Private room                            14
Private room in guest suite             12
Private room in bed and breakfast       10
Private room in guesthouse               8
Treehouse                                7
Shipping container                       6
Private room in bungalow                 6
Campsite                                 5
Casa particular                          4
Farm stay                                4
Yurt                                     4
Tower                                    3
Private room in tiny home                3
Boat                                     3
Private room in cabin                    3
Ranch                                    2
Shared room in hostel                    2
Private room in serviced apartment       2
Private room in camper/rv                2
Shared room in condo                     2
Shared room in rental unit               2
Entire place                             2
Barn                                     1
Dome                                     1
Bus                                      1
Tipi                                     1
Private room in villa                    1
Houseboat                                1
Private room in casa particular          1
Private room in hostel                   1
Private room in tent                     1
Entire chalet                            1
Room in bed and breakfast                1
Name: count, dtype: int64

In [11]:
total = counts.sum()
print(total)

9665

In [12]:
type_percs = (counts / total) * 100
print(type_percs)

property_type
Entire home                           42.866011
Entire rental unit                    19.865494
Entire condo                           8.980859
Private room in home                   7.004656
Entire guesthouse                      5.887222
Entire townhouse                       2.317641
Entire guest suite                     2.100362
Room in hotel                          1.686498
Tiny home                              1.479565
Entire bungalow                        1.396793
Private room in rental unit            0.838076
Camper/RV                              0.817382
Entire cottage                         0.496637
Entire loft                            0.465598
Entire serviced apartment              0.413864
Entire cabin                           0.382825
Entire villa                           0.289705
Private room in resort                 0.279359
Entire resort                          0.258665
Room in boutique hotel                 0.217279
Entire vacation home                   0.206932
Private room in townhouse              0.196586
Private room in condo                  0.186239
Room in aparthotel                     0.155199
Private room                           0.144853
Private room in guest suite            0.124159
Private room in bed and breakfast      0.103466
Private room in guesthouse             0.082773
Treehouse                              0.072426
Shipping container                     0.062080
Private room in bungalow               0.062080
Campsite                               0.051733
Casa particular                        0.041386
Farm stay                              0.041386
Yurt                                   0.041386
Tower                                  0.031040
Private room in tiny home              0.031040
Boat                                   0.031040
Private room in cabin                  0.031040
Ranch                                  0.020693
Shared room in hostel                  0.020693
Private room in serviced apartment     0.020693
Private room in camper/rv              0.020693
Shared room in condo                   0.020693
Shared room in rental unit             0.020693
Entire place                           0.020693
Barn                                   0.010347
Dome                                   0.010347
Bus                                    0.010347
Tipi                                   0.010347
Private room in villa                  0.010347
Houseboat                              0.010347
Private room in casa particular        0.010347
Private room in hostel                 0.010347
Private room in tent                   0.010347
Entire chalet                          0.010347
Room in bed and breakfast              0.010347
Name: count, dtype: float64

In [13]:
# Show top 5 property types with percentages
for prop_type in counts.head(5).index:
    count = counts[prop_type]
    percentage = (count / total) * 100
    print(f"{prop_type}: {count} listings ({percentage:.2f}%)")

Entire home: 4143 listings (42.87%)
Entire rental unit: 1920 listings (19.87%)
Entire condo: 868 listings (8.98%)
Private room in home: 677 listings (7.00%)
Entire guesthouse: 569 listings (5.89%)