In [1]:
nums = [1,2,3,4,5]

squares = [num**2 for num in nums]
print(squares)

[1, 4, 9, 16, 25]

In [2]:
import pandas as pd

data = {
    'model': ['Llama 3', 'GPT-4', 'Claude 3.5'],
    'params_b': [8, 1700, None]
}

df = pd.DataFrame(data)
print(df)

        model  params_b
0     Llama 3       8.0
1       GPT-4    1700.0
2  Claude 3.5       NaN

In [3]:
small_models = df[df['params_b'] < 100]
print(small_models)

     model  params_b
0  Llama 3       8.0

In [4]:
df = df.fillna(0)
print(df)

        model  params_b
0     Llama 3       8.0
1       GPT-4    1700.0
2  Claude 3.5       0.0

In [5]:
filename = "training_data.csv"
print(filename[-4:])

.csv

In [6]:
def calculate_accuracy(correct, total):
    return float(correct/total)

print(calculate_accuracy(80, 100))

0.8

In [7]:
for num in range(1,6):
    if num == 3:
        print("Found it!")
    else:
        print(num)

1
2
Found it!
4
5

In [8]:
metrics = {'accuracy': 0.95, 'latency': 0.02}

for key,val in metrics.items():
    print(f"Key: {key}, Value: {val}")

Key: accuracy, Value: 0.95
Key: latency, Value: 0.02

In [9]:
scores = [80,85,90]

avg_score = sum(scores)/len(scores)
print(avg_score)

85.0

In [10]:
df['is_huge'] = df['params_b'] > 1000
print(df)

        model  params_b  is_huge
0     Llama 3       8.0    False
1       GPT-4    1700.0     True
2  Claude 3.5       0.0    False

In [11]:
units_sold = 8472
avg_price = 34.7
conversion_rate = 0.1825

print(f"Units: {units_sold:,}")
print(f"Avg Price: ${avg_price:.2f}")
print(f"Conversion: {conversion_rate*100:.1f}%")

Units: 8,472
Avg Price: $34.70
Conversion: 18.2%

In [12]:
names = ["alice", "bob", "carol", "dan"]
proper_names = [name.title() for name in names]
print(proper_names)

['Alice', 'Bob', 'Carol', 'Dan']

In [13]:
inventory = {"apples": 50, "bananas": 32, "oranges": 41}
for key,val in inventory.items():
    print(f"{key}: {val} units")

apples: 50 units
bananas: 32 units
oranges: 41 units

In [14]:
df = pd.DataFrame({
    "rep": ["Amy", "Amy", "Ben", "Ben", "Amy", "Ben"],
    "deal_size": [1200, 800, 1500, 2200, 950, 1800],
    "closed": [True, True, False, True, True, True]
})

total_closed_size = df[df['closed'] == True]['deal_size'].sum()
print(total_closed_size)

6950

In [15]:
tasks = ["Review PR", "Write tests", "Deploy", "Update docs"]
for i,task in enumerate(tasks, start=1):
    print(f"{i}. {task}")

1. Review PR
2. Write tests
3. Deploy
4. Update docs

In [16]:
values = [15, 42, 8, 91, 33, 67]

high_low_values = ["high" if value >= 50 else "low" for value in values]

print(high_low_values)

['low', 'low', 'low', 'high', 'low', 'high']

In [17]:
df2 = pd.DataFrame({
    "category": ["A", "B", "A", "B", "A"],
    "sales": [100, 150, 200, 175, 125]
})

df2.groupby('category')['sales'].mean()

category
A    141.666667
B    162.500000
Name: sales, dtype: float64

In [18]:
month = ["Jan", "Feb", "Mar"]
revenue = [12000, 15000, 11000]

combined = list(zip(month,revenue))
print(combined)

[('Jan', 12000), ('Feb', 15000), ('Mar', 11000)]

In [19]:
df3 = pd.DataFrame({
    "product": ["Widget", "Gadget", "Gizmo", "Thingamajig"],
    "units": [340, 275, 410, 195],
    "price": [25, 40, 15, 60]
})

df3.sort_values('units', ascending=False).head(2)[['product','units']]

  product  units
2   Gizmo    410
0  Widget    340

In [20]:
config = {"host": "localhost", "port": 5432}

config.get("timeout", 30)

30