In [1]:
squares = [num**2 for num in range(1,21) if num%2==0]
print(squares)

big_squares = [num**2 for num in range(1,21) if (num%2==0) & (num**2>50)]
print(big_squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
[64, 100, 144, 196, 256, 324, 400]

In [2]:
transactions = [
    ("Alice", 150),
    ("Bob", 200),
    ("Alice", 75),
    ("Charlie", 300),
    ("Bob", 100)
]

total_per_person = {}
for name,val in transactions:
    total_per_person[name] = total_per_person.get(name, 0) + val

print(total_per_person)

{'Alice': 225, 'Bob': 300, 'Charlie': 300}

In [3]:
import pandas as pd

df = pd.DataFrame({
    'price': [100, 200, None, 150, None, 300],
    'bedrooms': [2, 3, 3, None, 4, 2],
    'sqft': [1200, 1500, 1400, None, 1800, 1300]
})

print("Missing Count:")
print(df.isnull().sum())

print("\nMissing %:")
print((df.isnull().mean() * 100).round(2))

row_missing = df.isnull().sum(axis=1)
max_missing = row_missing.max()
bad_rows = df[row_missing == max_missing]

print(f"\nRow(s) with most missing values({max_missing}):")
print(bad_rows)

Missing Count:
price       2
bedrooms    1
sqft        1
dtype: int64

Missing %:
price       33.33
bedrooms    16.67
sqft        16.67
dtype: float64

Row(s) with most missing values(2):
   price  bedrooms  sqft
3  150.0       NaN   NaN

In [4]:
word = "Python"

print(word[::-1])

nohtyP

In [5]:
import random

options = ["Pizza", "Tacos", "Sushi"]

print(random.choice(options))

Tacos

In [6]:
a = 5
b = 10
a,b = b,a

print(a)
print(b)

10
5

In [7]:
scores = [10, 55, 80, 20, 95]

passing = [score for score in scores if score > 60]
print(passing)

[80, 95]

In [8]:
quote = "i love coding"

print(quote.upper())

I LOVE CODING

In [9]:
capitals = {
    "USA": "DC",
    "France": "Paris"
}

for key,val in capitals.items():
    if key == "France":
        print(f"The capital of {key} is {val}")

The capital of France is Paris

In [10]:
seconds = 130

print(f"{seconds//60}m {seconds%60}s")

2m 10s

In [11]:
raw_data = " user_input "

print(raw_data)
print(raw_data.strip())

 user_input
user_input

In [12]:
my_hobbies = {'Code', 'Run', 'Read'}
friend_hobbies = {'Run', 'Swim', 'Code'}

print(my_hobbies.intersection(friend_hobbies))

my_hobbies & friend_hobbies

{'Code', 'Run'}

{'Code', 'Run'}

In [13]:
prices = pd.Series([10, 20, 30])

print(prices.mean())

20.0

In [14]:
words = ["Data", "Science", "Is", "Cool"]

print("-".join(words))

Data-Science-Is-Cool

In [15]:
ids = [101, 102, 101, 103, 102]

print(set(ids))

{101, 102, 103}

In [16]:
feedback = "I hate bugs"

print(feedback.replace("hate", "love"))

I love bugs

In [17]:
vip_list = ["Alice", "Bob", "Charlie"]

print("Dan" in vip_list)

False

In [18]:
x = 10

x += 5

print(x)

15