In [1]:
practice_sentence = "There will be a day and it will be filled with coffay"
print(len(practice_sentence.split()))

12

In [2]:
sentence = "I'm ready for my morning coffee!"
words = sentence.split()
print(words)
print(len(words))

["I'm", 'ready', 'for', 'my', 'morning', 'coffee!']
6

In [3]:
print(practice_sentence.lower())
print(practice_sentence.title())
print(sentence.upper())

there will be a day and it will be filled with coffay
There Will Be A Day And It Will Be Filled With Coffay
I'M READY FOR MY MORNING COFFEE!

In [4]:
print(practice_sentence.replace('coffay','coffee'))

There will be a day and it will be filled with coffee

In [5]:
import pandas as pd
df = pd.read_csv('../data/processed/processed_data.csv')

In [6]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,median_bedrooms,occupancy_rate,listing_count,estimated_ltr_monthly_rent,str_rent_to_price_ratio,ltr_rent_to_price_ratio,monthly_costs,str_monthly_cash_flow,ltr_monthly_cash_flow,str_vs_ltr_cashflow_delta
0,416968,768,West Oak Hill,neighborhood,TX,TX,Austin,"Austin-Round Rock-Georgetown, TX",Travis County,225656.567739,...,2.0,42.0,61,1080.00,5.476479,2.190592,4480.002356,-1780.002356,-3400.002356,1620.00
1,271652,992,Windsor Park,neighborhood,TX,TX,Austin,"Austin-Round Rock-Georgetown, TX",Travis County,225656.567739,...,2.0,36.0,173,807.84,5.377839,2.151136,3412.506605,-1392.906605,-2604.666605,1211.76
2,275057,1156,Pleasant Valley,neighborhood,TX,TX,Austin,"Austin-Round Rock-Georgetown, TX",Travis County,116702.212787,...,2.0,0.0,39,97.92,1.103153,0.441261,2016.469971,-1771.669971,-1918.549971,146.88
3,271391,1205,Franklin Park,neighborhood,TX,TX,Austin,"Austin-Round Rock-Georgetown, TX",Travis County,76944.526694,...,3.0,36.0,14,812.16,9.083894,3.633558,2031.072669,-0.672669,-1218.912669,1218.24
4,271353,1435,Downtown,neighborhood,TX,TX,Austin,"Austin-Round Rock-Georgetown, TX",Travis County,76944.526694,...,2.0,0.0,181,2367.36,10.872523,4.349009,4946.407613,971.992387,-2579.047613,3551.04

In [7]:
df.shape

(56, 338)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Columns: 338 entries, RegionID to str_vs_ltr_cashflow_delta
dtypes: float64(326), int64(3), object(9)
memory usage: 148.0+ KB

In [9]:
df.describe()

,RegionID,SizeRank,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,...,median_bedrooms,occupancy_rate,listing_count,estimated_ltr_monthly_rent,str_rent_to_price_ratio,ltr_rent_to_price_ratio,monthly_costs,str_monthly_cash_flow,ltr_monthly_cash_flow,str_vs_ltr_cashflow_delta
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,...,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,318920.267857,5799.910714,188817.190071,183391.318940,184575.096956,185548.304819,186368.489118,187237.393796,191331.411095,195795.754304,...,1.830357,29.857143,98.000000,924.658929,5.765083,2.306033,4311.172429,-1999.525108,-3386.513501,1386.988393
std,149710.848685,5297.880016,139932.125271,134001.894368,134920.631728,135472.889298,136821.108092,138726.738921,139269.181982,140259.315199,...,0.605105,28.897580,88.071046,569.787059,4.465600,1.786240,2320.306392,2831.478527,2439.306330,854.680589
min,231200.000000,768.000000,76944.526694,77264.519555,77610.130469,78173.337594,78628.474093,78703.478709,78734.716841,78881.475693,...,1.000000,0.000000,10.000000,57.960000,0.339011,0.135604,1697.493023,-15841.967681,-16244.807681,86.940000
25%,271392.500000,2380.250000,108313.916668,110378.695330,110863.954359,112612.897305,115341.414516,118313.149911,120312.161237,121996.806914,...,1.375000,4.500000,29.000000,604.800000,3.041846,1.216738,2820.273802,-2739.929460,-3889.209866,907.200000
50%,271587.500000,4295.000000,136996.284701,145483.680403,147958.127604,149845.306955,149361.226620,148589.944901,147732.026302,157700.559066,...,2.000000,24.000000,72.500000,860.400000,4.904463,1.961785,4101.896896,-1744.872150,-2803.581578,1290.600000
75%,274152.250000,6702.250000,243078.809700,195212.214901,197026.272114,196631.589213,196608.013110,195703.025137,203114.441953,227875.930794,...,2.000000,42.750000,139.250000,1230.255000,7.520697,3.008279,4863.579156,-615.187510,-2170.119622,1845.382500
max,814367.000000,23737.000000,754635.808599,750023.940970,751687.597262,756669.440821,767041.380689,778658.402909,783882.978431,792438.680236,...,4.000000,102.000000,407.000000,2962.080000,28.821892,11.528757,16513.367681,5070.504484,627.384484,4443.120000

In [14]:
df.columns.tolist()

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'State',
 'City',
 'Metro',
 'CountyName',
 '2000-01-31',
 '2000-02-29',
 '2000-03-31',
 '2000-04-30',
 '2000-05-31',
 '2000-06-30',
 '2000-07-31',
 '2000-08-31',
 '2000-09-30',
 '2000-10-31',
 '2000-11-30',
 '2000-12-31',
 '2001-01-31',
 '2001-02-28',
 '2001-03-31',
 '2001-04-30',
 '2001-05-31',
 '2001-06-30',
 '2001-07-31',
 '2001-08-31',
 '2001-09-30',
 '2001-10-31',
 '2001-11-30',
 '2001-12-31',
 '2002-01-31',
 '2002-02-28',
 '2002-03-31',
 '2002-04-30',
 '2002-05-31',
 '2002-06-30',
 '2002-07-31',
 '2002-08-31',
 '2002-09-30',
 '2002-10-31',
 '2002-11-30',
 '2002-12-31',
 '2003-01-31',
 '2003-02-28',
 '2003-03-31',
 '2003-04-30',
 '2003-05-31',
 '2003-06-30',
 '2003-07-31',
 '2003-08-31',
 '2003-09-30',
 '2003-10-31',
 '2003-11-30',
 '2003-12-31',
 '2004-01-31',
 '2004-02-29',
 '2004-03-31',
 '2004-04-30',
 '2004-05-31',
 '2004-06-30',
 '2004-07-31',
 '2004-08-31',
 '2004-09-30',
 '2004-10-31',
 '2004-11-30',
 '2004-12-31',
 '2005-01-31',
 '2005-02-28',
 '2005-03-31',
 '2005-04-30',
 '2005-05-31',
 '2005-06-30',
 '2005-07-31',
 '2005-08-31',
 '2005-09-30',
 '2005-10-31',
 '2005-11-30',
 '2005-12-31',
 '2006-01-31',
 '2006-02-28',
 '2006-03-31',
 '2006-04-30',
 '2006-05-31',
 '2006-06-30',
 '2006-07-31',
 '2006-08-31',
 '2006-09-30',
 '2006-10-31',
 '2006-11-30',
 '2006-12-31',
 '2007-01-31',
 '2007-02-28',
 '2007-03-31',
 '2007-04-30',
 '2007-05-31',
 '2007-06-30',
 '2007-07-31',
 '2007-08-31',
 '2007-09-30',
 '2007-10-31',
 '2007-11-30',
 '2007-12-31',
 '2008-01-31',
 '2008-02-29',
 '2008-03-31',
 '2008-04-30',
 '2008-05-31',
 '2008-06-30',
 '2008-07-31',
 '2008-08-31',
 '2008-09-30',
 '2008-10-31',
 '2008-11-30',
 '2008-12-31',
 '2009-01-31',
 '2009-02-28',
 '2009-03-31',
 '2009-04-30',
 '2009-05-31',
 '2009-06-30',
 '2009-07-31',
 '2009-08-31',
 '2009-09-30',
 '2009-10-31',
 '2009-11-30',
 '2009-12-31',
 '2010-01-31',
 '2010-02-28',
 '2010-03-31',
 '2010-04-30',
 '2010-05-31',
 '2010-06-30',
 '2010-07-31',
 '2010-08-31',
 '2010-09-30',
 '2010-10-31',
 '2010-11-30',
 '2010-12-31',
 '2011-01-31',
 '2011-02-28',
 '2011-03-31',
 '2011-04-30',
 '2011-05-31',
 '2011-06-30',
 '2011-07-31',
 '2011-08-31',
 '2011-09-30',
 '2011-10-31',
 '2011-11-30',
 '2011-12-31',
 '2012-01-31',
 '2012-02-29',
 '2012-03-31',
 '2012-04-30',
 '2012-05-31',
 '2012-06-30',
 '2012-07-31',
 '2012-08-31',
 '2012-09-30',
 '2012-10-31',
 '2012-11-30',
 '2012-12-31',
 '2013-01-31',
 '2013-02-28',
 '2013-03-31',
 '2013-04-30',
 '2013-05-31',
 '2013-06-30',
 '2013-07-31',
 '2013-08-31',
 '2013-09-30',
 '2013-10-31',
 '2013-11-30',
 '2013-12-31',
 '2014-01-31',
 '2014-02-28',
 '2014-03-31',
 '2014-04-30',
 '2014-05-31',
 '2014-06-30',
 '2014-07-31',
 '2014-08-31',
 '2014-09-30',
 '2014-10-31',
 '2014-11-30',
 '2014-12-31',
 '2015-01-31',
 '2015-02-28',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31',
 '2021-01-31',
 '2021-02-28',
 '2021-03-31',
 '2021-04-30',
 '2021-05-31',
 '2021-06-30',
 '2021-07-31',
 '2021-08-31',
 '2021-09-30',
 '2021-10-31',
 '2021-11-30',
 '2021-12-31',
 '2022-01-31',
 '2022-02-28',
 '2022-03-31',
 '2022-04-30',
 '2022-05-31',
 '2022-06-30',
 '2022-07-31',
 '2022-08-31',
 '2022-09-30',
 '2022-10-31',
 '2022-11-30',
 '2022-12-31',
 '2023-01-31',
 '2023-02-28',
 '2023-03-31',
 '2023-04-30',
 '2023-05-31',
 '2023-06-30',
 '2023-07-31',
 '2023-08-31',
 '2023-09-30',
 '2023-10-31',
 '2023-11-30',
 '2023-12-31',
 '2024-01-31',
 '2024-02-29',
 '2024-03-31',
 '2024-04-30',
 '2024-05-31',
 '2024-06-30',
 '2024-07-31',
 '2024-08-31',
 '2024-09-30',
 '2024-10-31',
 '2024-11-30',
 '2024-12-31',
 '2025-01-31',
 '2025-02-28',
 '2025-03-31',
 '2025-04-30',
 '2025-05-31',
 '2025-06-30',
 '2025-07-31',
 '2025-08-31',
 '2025-09-30',
 'current_price_2025',
 'peak_price_2022',
 'baseline_price_2015_2019',
 'baseline_cagr',
 'recovery_cagr',
 'distance_from_peak',
 'neighborhood_clean',
 'neighborhood',
 'median_nightly_rate',
 'median_monthly_str_income',
 'median_bedrooms',
 'occupancy_rate',
 'listing_count',
 'estimated_ltr_monthly_rent',
 'str_rent_to_price_ratio',
 'ltr_rent_to_price_ratio',
 'monthly_costs',
 'str_monthly_cash_flow',
 'ltr_monthly_cash_flow',
 'str_vs_ltr_cashflow_delta']

In [15]:
df['income_potential'] = df['median_nightly_rate'] * df['occupancy_rate']
df.sort_values('income_potential',ascending=False).head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,...,monthly_costs,str_monthly_cash_flow,ltr_monthly_cash_flow,str_vs_ltr_cashflow_delta,income_potential
23,271325,3696,Central East Austin,neighborhood,TX,...,4105.399564,-253.399564,-2564.599564,2311.20,11154.0
44,273354,7263,Coronado Hills,neighborhood,TX,...,2334.695516,5070.504484,627.384484,4443.12,10668.0
32,271474,4456,MLK,neighborhood,TX,...,3756.464401,-660.464401,-2518.064401,1857.60,9792.0
24,271437,3949,Hyde Park,neighborhood,TX,...,5298.501285,-920.901285,-3547.461285,2626.56,9696.0
45,273440,7465,Dawson,neighborhood,TX,...,4497.599484,-1257.599484,-3201.599484,1944.00,8910.0
17,271497,3054,North Lamar,neighborhood,TX,...,2213.051711,855.798289,-985.511711,1841.31,8502.5
41,271360,6663,East Cesar Chavez,neighborhood,TX,...,4611.017060,-852.617060,-3107.657060,2255.04,7614.0
16,271665,3001,Wooten,neighborhood,TX,...,3181.044628,-135.444628,-1962.804628,1827.36,7500.0
54,814367,21685,Kensington Place,neighborhood,TX,...,2397.249622,-1180.449622,-1910.529622,730.08,6786.0
37,271501,5182,North University,neighborhood,TX,...,2726.035792,-458.035792,-1818.835792,1360.80,6636.0

In [20]:
pd.set_option('display.max_rows',None)
df[['neighborhood','occupancy_rate','median_nightly_rate','income_potential']]

           neighborhood  occupancy_rate  median_nightly_rate  income_potential
0         West Oak Hill            42.0                131.0            5502.0
1          Windsor Park            36.0                117.0            4212.0
2       Pleasant Valley             0.0                136.0               0.0
3         Franklin Park            36.0                128.5            4626.0
4              Downtown             0.0                172.5               0.0
5             Allandale            36.0                179.0            6444.0
6            Montopolis            18.0                122.0            2196.0
7          North Burnet            36.0                120.0            4320.0
8             Brentwood            18.0                100.5            1809.0
9             St. Johns            12.0                 77.0             924.0
10               Zilker            40.0                138.0            5520.0
11         Barton Hills             6.0                158.0             948.0
12          Parker Lane            24.0                126.5            3036.0
13       Georgian Acres            50.0                 96.0            4800.0
14        Windsor Hills            14.0                 77.0            1078.0
15          South Lamar            12.0                106.0            1272.0
16               Wooten            60.0                125.0            7500.0
17          North Lamar            95.0                 89.5            8502.5
18       South Manchaca             0.0                130.0               0.0
19            Crestview            12.0                140.0            1680.0
20              Mueller             0.0                150.0               0.0
21         Shady Hollow            46.0                108.5            4991.0
22        Bouldin Creek            42.0                141.0            5922.0
23  Central East Austin            66.0                169.0           11154.0
24            Hyde Park            96.0                101.0            9696.0
25              Govalle            36.0                128.0            4608.0
26          St. Edwards             0.0                 80.0               0.0
27             Highland            18.0                115.0            2070.0
28           North Loop            54.0                 41.0            2214.0
29    Upper Boggy Creek             0.0                109.0               0.0
30             Rosewood             6.0                139.0             834.0
31              Hancock             0.0                126.5               0.0
32                  MLK           102.0                 96.0            9792.0
33             McKinney            14.0                 74.0            1036.0
34              Galindo             6.0                150.0             900.0
35             Rosedale            42.0                139.0            5838.0
36     University Hills            15.0                117.0            1755.0
37     North University            84.0                 79.0            6636.0
38    North Shoal Creek            30.0                106.0            3180.0
39      Old West Austin            24.0                140.0            3360.0
40             Westgate             0.0                 44.0               0.0
41    East Cesar Chavez            54.0                141.0            7614.0
42        East Congress             0.0                 70.0               0.0
43        West Congress             0.0                131.0               0.0
44       Coronado Hills            84.0                127.0           10668.0
45               Dawson            90.0                 99.0            8910.0
46                Holly            42.0                145.0            6090.0
47         Barton Creek             0.0                258.0               0.0
48             Chestnut            45.0                140.0            6300.0
49         Bryker Woods             0.0                150.0               0.0
50          Old Enfield             0.0                165.5               0.0
51     Johnston Terrace            51.0                 73.5            3748.5
52           Fern Bluff            33.0                111.0            3663.0
53     Brushy Bend Park             6.0                177.5            1065.0
54     Kensington Place            39.0                174.0            6786.0
55     Pioneer Crossing             0.0                 52.0               0.0